.EightBall{
    border-radius: 50%;
    display: inline-block;
    width: 400px;
    height: 400px;
    vertical-align: middle;
    margin-top: 25%;
}
.EightBall-title{
    color:whitesmoke;
    margin-top: 48%;
    padding: 0%;
    text-align: center;
}
.EightBall-reset{
    display: inline-block;
    background-color: gold;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
}
